body {
    margin: 0;
    background-color: $background-color;
    color: $text-color;
    overflow: hidden;
}

.swipy {
    height: 100vh;  
    height: calc(var(--vh, 1vh) * 100); /* global-js/viewportFix.js */
}
