$primary-color: #0090ff;
$secondary-color: #242424;
$secondary-light-color: #444444;
$background-color: $secondary-color;
$success-color: $primary-color;
$error-color: #FF0000;
$success-color: #3AB982;
$text-color: #ffffff;